/.stack-work
/alfred
/configs/yarn/link
/dictionaries

/home/atom/.apm
/home/atom/.node-gyp
/home/atom/blob-store
/home/atom/compile-cache
/home/atom/packages
/home/atom/recovery
/home/atom/storage

/node_modules
/tessdata
