"*":
  Hydrogen: {}
  "atom-beautify":
    general:
      _analyticsUserId: "aabf2a1d-5bc2-4d2d-b153-bcf8fc366e55"
  autosave:
    enabled: true
  "browser-plus":
    live: 0
    node: true
  core:
    disabledPackages: [
      "language-smalltalk"
      "terminal"
      "atom-lint"
      "linter-chktex"
      "travis-ci-status"
      "term2"
      "deprecation-cop"
      "about"
      "background-tips"
      "metrics"
      "package-generator"
      "release-notes"
      "styleguide"
      "update-package-dependencies"
      "welcome"
      "npm-docs"
      "coffee-compiler"
      "vim-mode"
      "terminal-plus"
      "Hydrogen"
      "js-refactor"
      "linter-jshint"
      "linter-jscs"
      "language-vue-component"
      "standard-formatter"
      "standardjs-snippets"
      "preview-plus"
      "tablr"
      "linter-eslint"
      "trailing-spaces"
      "linter-js-standard"
      "atom-dark-syntax"
      "atom-dark-ui"
      "atom-light-syntax"
      "atom-light-ui"
      "base16-tomorrow-dark-theme"
      "base16-tomorrow-light-theme"
      "one-dark-ui"
      "one-light-ui"
      "one-dark-syntax"
      "one-light-syntax"
      "solarized-dark-syntax"
      "solarized-light-syntax"
      "archive-view"
      "autocomplete-css"
      "autocomplete-html"
      "autoflow"
      "bookmarks"
      "dalek"
      "dev-live-reload"
      "encoding-selector"
      "exception-reporting"
      "github"
      "grammar-selector"
      "keybinding-resolver"
      "open-on-github"
      "symbols-view"
      "timecop"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-css"
      "language-git"
      "language-go"
      "language-html"
      "language-java"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-sql"
      "language-todo"
      "language-toml"
      "language-typescript"
      "language-xml"
      "AtLilyPond"
      "Stylus"
      "Sublime-Style-Column-Selection"
      "asciidoc-preview"
      "atom-beautify"
      "atom-ide-ui"
      "atom-pair"
      "atom-terminal"
      "atom-ternjs"
      "atom-typescript"
      "auto-detect-indentation"
      "autocomplete-clang"
      "autocomplete-emojis"
      "autocomplete-haskell"
      "autocomplete-paths"
      "browser-plus"
      "build-make"
      "busy-signal"
      "color-picker"
      "custom-title"
      "date"
      "distraction-free-mode"
      "elm-format"
      "elmjutsu"
      "eslint-fixer"
      "fast-eslint"
      "file-icons"
      "file-types"
      "flow-ide"
      "fold-functions"
      "git-control"
      "git-diff-details"
      "git-plus"
      "go-debug"
      "go-plus"
      "go-signature-statusbar"
      "hard-wrap"
      "haskell-ghc-mod"
      "hex"
      "hyperclick"
      "ide-flowtype"
      "ide-haskell"
      "ide-haskell-cabal"
      "ide-purescript"
      "indent-guide-improved"
      "intentions"
      "jumpy"
      "jupyter-notebook"
      "keyboard-scroll"
      "language-apache"
      "language-arduino"
      "language-asciidoc"
      "language-diff"
      "language-docker"
      "language-elm"
      "language-fish-shell"
      "language-gitignore"
      "language-ipynb"
      "language-jade"
      "language-json5"
      "language-latex"
      "language-ledger"
      "language-liquid"
      "language-nginx"
      "language-openscad"
      "language-pug"
      "language-purescript"
      "language-svg"
      "language-vcard"
      "language-vue"
      "latex"
      "lilycompile"
      "linter"
      "linter-clang"
      "linter-coffeelint"
      "linter-docker"
      "linter-elm-make"
      "linter-flow"
      "linter-php"
      "linter-pylint"
      "linter-tslint"
      "linter-ui-default"
      "magic-reflow"
      "make-executable"
      "markdown-table-formatter"
      "markdown-toc"
      "merge-conflicts"
      "npm-install"
      "npm-plus"
      "one-o-eight-syntax"
      "package-list"
      "package-switch"
      "pane-browser"
      "pdf-view"
      "prettier-atom"
      "python-yapf"
      "refactor"
      "regex-tester"
      "remove-whitespace"
      "rest-client"
      "script"
      "sunset"
      "svg-preview"
      "tabs-to-spaces"
      "tabular"
      "term3"
      "unicode-normalizer"
      "xml-formatter"
      "yaml-sortkey"
      "language-gfm"
      "markdown-preview"
    ]
    followSymlinks: true
    projectHome: "~/Projects"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
    titleBar: "custom"
  "custom-title":
    template: "<%= fileName %><% if (projectPath) { %> - <%= projectPath %><% } %> - Atom <%= atom.getVersion() %>"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Source Code Pro"
    fontSize: 11
    invisibles:
      cr: " "
      eol: " "
      space: " "
    showInvisibles: true
    softWrap: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "e1f4ef15-b72f-d1f8-3af5-8d0a66844b85"
  "fast-eslint": {}
  "git-log":
    fontScale: 0.6
  "git-plus":
    general:
      _analyticsUserId: "2621e659-146c-461b-8354-71161e66aae9"
  jsformat:
    eval_code: true
    indent_with_tabs: true
  jumpy:
    fontSize: 1
    highContrast: true
  latex:
    alwaysOpenResultInAtom: true
    enableShellEscape: true
  linter:
    lintDebug: false
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusBar: "Show error if the cursor is in range"
    statusIconScope: "File"
  "linter-chktex": {}
  "linter-coffeelint":
    no_tabs: "ignore"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    eslintrcPath: "~/Projects/JavaScript/.eslintrc.yaml"
    fixOnSave: true
    useGlobalEslint: true
  "linter-jscs":
    onlyConfig: true
    verbose: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "markdown-table-formatter":
    formatOnSave: false
    limitLastColumnPadding: true
    markdownGrammarScopes: [
      "source.gfm"
      "text.md"
    ]
  "one-dark-ui": {}
  "one-light-ui": {}
  "preview-plus": {}
  "spell-check": {}
  "svg-preview": {}
  tablr: {}
  term2: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".AtLilyPond.source":
  editor:
    tabLength: 4
".basic.html.text":
  editor:
    tabLength: 2
".bibtex.text":
  editor:
    softWrap: true
".coffee.source":
  editor:
    autoIndent: true
    softWrap: true
    tabLength: 4
".dockerfile.source":
  editor:
    tabLength: 4
".html.text.vue":
  editor:
    tabLength: 4
".jade.source":
  editor:
    autoIndent: true
    showInvisibles: true
    tabLength: 2
  whitespace:
    removeTrailingWhitespace: true
".js.source":
  editor:
    tabLength: 4
".json.source":
  editor:
    autoIndentOnPaste: true
    tabLength: 2
".latex.log.text":
  editor:
    softWrap: true
".latex.tex.text":
  editor:
    softWrap: true
".lilypond-drummode.source":
  editor:
    tabLength: 4
".lilypond-figbassmode.source":
  editor:
    tabLength: 4
".lilypond-figuregroup.source":
  editor:
    tabLength: 4
".lilypond-internals.source":
  editor:
    tabLength: 4
".lilypond-lyricsmode.source":
  editor:
    tabLength: 4
".lilypond-markupmode.source":
  editor:
    tabLength: 4
".lilypond-notedrum.source":
  editor:
    tabLength: 4
".lilypond-notemode-explicit.source":
  editor:
    tabLength: 4
".lilypond-notemode.source":
  editor:
    tabLength: 4
".lilypond-notenames.source":
  editor:
    tabLength: 4
".lilypond-schememode.source":
  editor:
    tabLength: 4
".md.source":
  whitespace:
    removeTrailingWhitespace: true
".md.text":
  editor:
    softWrapAtPreferredLineLength: true
".pyjade.source":
  editor:
    autoIndent: true
    tabLength: 2
".source.yaml":
  editor:
    autoIndentOnPaste: true
    showIndentGuide: true
    softTabs: true
    softWrap: false
    tabLength: 2
".text.xml":
  editor:
    tabLength: 4
".text.xml.xsl":
  editor:
    tabLength: 4
"file-types":
  jscsrc: "source.json"
