"*":
  editor:
    fontFamily: "Source Code Pro"
    tabLength: 4
    softTabs: false
    softWrap: true
    invisibles: {}
    showInvisibles: true
    fontSize: 12
    softWrapAtPreferredLineLength: true
    autoIndentOnPaste: false
  core:
    disabledPackages: [
      "language-smalltalk"
      "terminal"
      "atom-lint"
      "terminal-panel"
      "vim-mode"
      "AtLilyPond"
      "linter-chktex"
      "travis-ci-status"
      "term2"
      "deprecation-cop"
      "about"
      "background-tips"
      "metrics"
      "package-generator"
      "release-notes"
      "styleguide"
      "update-package-dependencies"
      "welcome"
      "emmet"
      "linter"
      "npm-docs"
      "coffee-compiler"
    ]
    followSymlinks: true
    projectHome: "~/Projects"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  autosave:
    enabled: true
  "markdown-preview":
    breakOnSingleNewline: true
  linter:
    lintDebug: false
    statusBar: "Show error if the cursor is in range"
    showErrorPanel: false
    showErrorTabProject: false
    showErrorTabFile: false
    statusIconScope: "File"
  jsformat:
    indent_with_tabs: true
    eval_code: true
  "git-log":
    fontScale: 0.6
  "linter-coffeelint":
    no_tabs: "ignore"
  "exception-reporting":
    userId: "e1f4ef15-b72f-d1f8-3af5-8d0a66844b85"
  welcome:
    showOnStartup: false
  "atom-beautify":
    _analyticsUserId: "aabf2a1d-5bc2-4d2d-b153-bcf8fc366e55"
  "one-dark-ui": {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "linter-jscs":
    onlyConfig: true
    verbose: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "tree-view":
    hideVcsIgnoredFiles: true
  latex:
    alwaysOpenResultInAtom: true
    enableShellEscape: true
  "linter-chktex": {}
  term2: {}
  emmet: {}
  "one-light-ui": {}
  Hydrogen: {}
  "preview-plus":
    htmlp: true
".latex.log.text":
  editor:
    softWrap: true
".latex.tex.text":
  editor:
    softWrap: true
".bibtex.text":
  editor:
    softWrap: true
".coffee.source":
  editor:
    autoIndent: true
    tabLength: 4
    softWrap: true
".pyjade.source":
  editor:
    autoIndent: true
    tabLength: 2
".jade.source":
  editor:
    autoIndent: true
    showInvisibles: true
    tabLength: 2
".source.yaml":
  editor:
    autoIndentOnPaste: true
    softWrap: false
    tabLength: 2
    softTabs: true
".json.source":
  editor:
    tabLength: 2
    autoIndentOnPaste: true
".js.source":
  editor:
    tabLength: 4
"file-types":
  jscsrc: "source.json"
